* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px
}

.game-wrapper{
    position: relative;
    width: 80%;
    height: 500px;
    border: 1px solid black;
    border-bottom: 10px solid rgb(69, 132, 69);
    margin: 0px auto;
    overflow: hidden;
    background-image: linear-gradient(rgb(131, 205, 234), rgb(231, 246, 250));
}

.clouds {
    position: absolute;
    width: 450px;
    animation: cloud-animation 10s infinite linear;
}

.pipe {
    position: absolute;
    width: 50px;
    bottom: 0;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 120px;
    bottom: 0;
}

.jump {
    animation: jump 500ms;
}
@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes cloud-animation {
    from {
        right: -450px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40%{
        bottom: 140px;
    }
    50% {
        bottom: 140px;
    }
    60% {
        bottom: 140px;
    }
    100% {
        bottom: 0;
    }
}